<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-smart-lock" version="0.0.1">
  <name>LockFontSize</name>
  <description>Cordova Plugin for locking font size to normal on Android devices</description>
  <license>MIT</license>
  <keywords>cordova,plugin,android,fontsize</keywords>
  <repo>https://github.com/okode/cordova-plugin-lock-font-size.git</repo>

  <engines>
    <engine name="cordova-android" version=">=8.0.0" />
  </engines>

  <js-module src="www/lockfontsize.js" name="LockFontSize">
    <clobbers target="LockFontSize" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="LockFontSize">
        <param name="android-package" value="org.apache.cordova.lockfontsize.LockFontSize" />
      </feature>
    </config-file>

    <source-file src="src/android/LockFontSize.java" target-dir="src/org/apache/cordova/lockfontsize" />
  </platform>

</plugin>
